<div class="card card-block">
	<h3 class="card-title">Create new Pet</h3>
	<div>
		<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" >Name</span>
					<input type="text" class="form-control pet-name" placeholder="Pet Name">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" >Status</span>
					<input type="text" class="form-control pet-status" placeholder="Pet Status">
				</div>
			</div>
			<div>
				<button type="button" id="btn-create" class="btn btn-primary create">Create</button>
			</div>
		</form>
	</div>
</div>
