<td>
        <span class="pet lbl pet-name">{{name}}</span>
        <input type="text" class="pet usr-input pet-name" value="{{name}}" />
</td>
<td>
        <span class="pet lbl pet-status">{{status}}</span>
        <input type="text" class="pet usr-input pet-status" value="{{status}}" />
</td>
<td>
    <button type="button" class="btn btn-danger delete">Delete</button>
</td>

